<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulaire Opération Externe</title>
     <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"> -->
    <link rel="stylesheet" th:href="@{/select2/css/select2.min.css}"/>
</head>

<body>
<!-- 
<div class="container mt-4">
    <h1 th:text="${operationExterne.id != null ? 'Modifier Opération Externe' : 'Nouvelle Opération Externe'}"></h1>
    <form th:action="@{/pontbascule/operations-externes}" th:object="${operationExterne}" method="post">
        <div class="mb-3">
            <label for="nom" class="form-label">Nom</label>
            <input type="text" id="nom" th:field="*{nom}" class="form-control" />
            <div class="text-danger" th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}"></div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea id="description" th:field="*{description}" class="form-control"></textarea>
            <div class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
        </div>
        <button type="submit" class="btn btn-success">Enregistrer</button>
        <a th:href="@{/pontbascule/operations-externes}" class="btn btn-secondary">Annuler</a>
    </form>
</div>
-->
<div class="container mt-4">
      <h1 th:text="${operationExterne.id != null ? 'Modifier Opération Interne' : 'Nouvelle Opération Interne'}"></h1>
    <form th:action="@{${operationExterne.id == null}
           ? '/pontbascule/operations-externes'
           : '/pontbascule/operations-externes/' + ${operationExterne.id}}"
            th:object="${operationExterne}" method="post">
        <div class="mb-3">
            <label for="vehiculeExterne" class="form-label">Véhicule Externe</label>
            <select id="vehiculeExterne" th:field="*{vehiculeExterne}" class="form-select">
                <option value="" disabled selected>Choisir un véhicule</option>
                <option th:each="vehicule : ${vehiculeExterne}"
                        th:value="${vehicule.immatriculation}"
                        th:text="${vehicule.immatriculation}"></option>
             <!--    <option value="new">Nouveau Véhicule</option> -->
            </select>
            <div class="text-danger" th:if="${#fields.hasErrors('vehiculeExterne')}" th:errors="*{vehiculeExterne}"></div>
        </div>
        <div class="mb-3">
           
            <label for="peser_charger" class="form-label">peser_charger</label>
       <!--      <input type="text" id="peser1" th:field="*{peser1}" class="form-control" />
            <div class="text-danger" th:if="${#fields.hasErrors('peser1')}" th:errors="*{peser1}"></div> -->
       <input type="number" id="peser_charger" th:field="*{peser_charger}" class="form-control" >
       
       
       <label for="peser_vide" class="form-label">peser_vide</label>
       <input type="number" id="peser_vide" th:field="*{peser_vide}" class="form-control" >
        <div class="invalid-feedback">Veuillez entrer un poids valide (ex: 1200.50).</div>
    </div>
       
  
        <a th:href="@{/pontbascule/vehicules-tarer/nouveau}" class="btn btn-link">Créer un nouveau véhicule</a>
        <button type="submit" class="btn btn-success"> <span th:text="${operationExterne.id != null ? 'modifier' : 'Enregistrer'}"> </span></button>
        <a th:href="@{/pontbascule/operations-internes}" class="btn btn-secondary">Annuler</a>
   
    </form>
</div>

<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
 	<!-- <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>  -->
 <script th:src ="@{/select2/js/select2.min.js}"></script>  
  <script th:src="@{/js/bootstrap.bundle.min.js}"></script>

<script>
    $(document).ready(function() {
        $('#vehiculeExterne').select2({
            placeholder: "Choisir un véhicule",
            allowClear: true
        });
     // Mettre le focus sur le champ de sélection sans clic
        $('#vehiculeExterne').select2().on('select2:open', function() {
            document.querySelector('.select2-search__field').focus();
        }).select2('open');
     
    });
</script>


</body>


</html>
